section {
    font-size: 2rem;
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    nav {
        font-size: 1rem;
        vertical-align: baseline;

        img {
            height: 1.5rem;
        }
    }

    article i, nav a {
        margin: 0 1rem;
    }
}