<small>This site thanks Kraken Dice for inspiration of its name and for its photos. This site sells no dice, is not challenging Kraken Dice and is only for showcasing purposes. It ws not meant to be a theft.</small>
<nav>
    <a href="#"><i class="fi fi-brands-twitter"></i></a>
    <a href="#"><i class="fi fi-brands-instagram"></i></a>
    <a href="#"><i class="fi fi-brands-facebook"></i></a>
    <a href="#"><i class="fi fi-rr-envelope"></i></a>
    <a href="#"><i class="fi fi-brands-youtube"></i></a>
</nav>