<h2>Clear dice</h2>

<section>
    <article>
        <img src="../../../assets/img/dice_placeholder.png" alt="Dice placeholder" />
    </article>
    <article>
        <img src="../../../assets/img/dice_placeholder.png" alt="Dice placeholder" />
    </article>
    <article>
        <img src="../../../assets/img/dice_placeholder.png" alt="Dice placeholder" />
    </article>
    <article>
        <img src="../../../assets/img/dice_placeholder.png" alt="Dice placeholder" />
    </article>
    <article>
        <img src="../../../assets/img/dice_placeholder.png" alt="Dice placeholder" />
    </article>
    <article>
        <img src="../../../assets/img/dice_placeholder.png" alt="Dice placeholder" />
    </article>
    <article>
        <img src="../../../assets/img/dice_placeholder.png" alt="Dice placeholder" />
    </article>
    <article>
        <img src="../../../assets/img/dice_placeholder.png" alt="Dice placeholder" />
    </article>
    <article>
        <img src="../../../assets/img/dice_placeholder.png" alt="Dice placeholder" />
    </article>
</section>

<app-pagination></app-pagination>