section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    article {
        width: 30%;
        margin: 1% 1%;

        img {
            width: 100%;
        }
    }
}