@import '../node_modules/@flaticon/flaticon-uicons/css/all/all.css';
@import '../src/assets/css/reset.css';

::root {
    --primary-color: #000;
}

html {
    box-sizing: border-box;
    font-size: 10px;

}
*, *:before, *:after {
    box-sizing: inherit;
}

h1 {
    font-size: 3rem;
}

h1, h2, h3, h4, h5 {
    text-align: center;
}

h2 {
    font-size: 2.8rem;
}

a {
    text-decoration: none;
}