@import '../node_modules/@flaticon/flaticon-uicons/css/all/all.css';
@import '../src/assets/css/reset.css';
@import url('https://fonts.googleapis.com/css2?family=Marmelad&family=Montserrat&family=Mr+De+Haviland&display=swap');

::root {
    --primary-color: #761054;
}

html {
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;

}
*, *:before, *:after {
    box-sizing: inherit;
}

h1 {
    font-size: 3rem;
    text-transform: uppercase;
}

h1, h2, h3, h4, h5 {
    text-align: center;
}

h2 {
    font-size: 2.8rem;
}

a {
    text-decoration: none;
}

.main-container {
    max-width: 1200px;
    margin: 0 auto;
}