<section id="presentation">
    <article>
        <h1>Fear the Kraken</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque et aut officia officiis error veniam tempora quisquam nulla quasi molestias quam expedita quis.</p>
    </article>
    <img src="../../assets/img/placeholder.jpeg" alt="">
</section>
<section id="popular">

</section>
<section id="video">

</section>
<section id="testimonials">

</section>
<section id="newsletter">

</section>
<section id="photos">

</section>